$primary-color: #6b0dac;
$primary-dark-color: #4e097d; 
$text-color: #fff;
$secondary-text-color: #888;
$chl-font-family: 'Roboto', sans-serif;
$success-status-color: #52c41a;
$error-status-color: #f5222d;
$pending-status-color: #faad14;
$inprogress-status-color: #1890ff;
$match_format_color: #FF5A09;
$inactive-status-color: #d9d9d9;
